*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Color Picker Styles */

.color-container {
  display: flex;
  gap: 5px;
}

.color-container > *,
.clear {
  background-color: #555;
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

.clear {
  width: 100px;
  border: 0px;
  margin-left: auto;

  cursor: pointer;

  color: white;
}

.wrapper {
  display: flex;
  align-items: center;
  margin-inline: 25px;
  margin-top: 25px;
}

.selected {
  outline: white solid 2px;
}

.canvas-grid {
  --p-size: 25px;
  --width: 20;
  --height: 20;

  display: grid;
  grid-template-columns: repeat(var(--width), var(--p-size));
  grid-template-rows: repeat(var(--height), var(--p-size));
  gap: 1px;

  margin: 25px;

  user-select: none;
}

.canvas-grid > * {
  background-color: #777;
}
